body.threads,
.Pe {
	font-family: verdana,helvetica;
	/*font-weight: bold;*/
	font-size: 12px;
	padding: 44;
	background: #333;
	color: white;
}
.Peb {
	color: #f33;
}
.Pe a {
	text-decoration: none;
	color: #f33;
	background: black;
}
.Peb a {
	padding: 4;
	border: 1px solid #f33;
}
.comment-submit textarea, .comment-submit input,
.Pe form input,select,textarea {
	background: black;
	color: #f33;
	font-size: 9;
	border: 1px solid #f33;
	padding: 4;
}
.Peup { 
	border: 3px dashed;
	padding: 4;
	margin-bottom: 23px;
}

.ldp {
	font-size: 9;
}
.entry,
.ldp {
	font-weight: normal;
	border: 3px dashed #333;
	background: #933;
	padding: 3;
	margin: 44;
        width: 562;
}
.entry .title,
.ldpc {
	background: #f33;
	color: black;
	font-size: 12;
        width: 555;
        padding: 3;
}
.ldp br {
        clear: both;
}       
.ldp span span {
        float: left;
        padding: 2;
        margin: 1;
}
.ldp td {
	background: black;
	padding: 7;
}
.ldpek {
	background: #966;
	width: 150;
}
.ldpev {
	background: black;
	width: 400;
}

.entry {
  margin: 22px 44px;
}

.entry .body {
  background: black;
  padding: 0.4em 0.4em 0 0.4em;
}

.entry .body .text,
.entry .body .comment-submit {
  padding-bottom: 0.4em;
}

.entry .body .comment {
  margin: 0.2em 1em;
  padding: 0.2em;
  border-top: 1px solid #933;
}

.entry .body .comment-author {
  font-weight: bold;
}

.entry .body .comment-submit {
  margin: 0 1em;
}

.entry .body .comment-submit input,
.entry .body .comment-submit textarea {
  font-size: 12px;
}
.entry .body .comment-submit textarea {
  width: 100%;
}

.entry .title {}
.entry .title .author {}
.entry .title .subject {}

.entry .footer a,
.entry .footer a:visited {
  cursor: pointer;
  color: white;
  background: transparent;
}

.entry .footer a:hover,
.entry .footer a:visited:hover {
  text-decoration: underline;
}

.entry .footer .comments-link {
  float: right;
}

.tabs {
  width: 574px;
  margin: 22px 44px;
  padding-bottom: 2px;
  border-bottom: 1px solid #933;
}

.tabs a {
  padding: 2px;
  background: #333;
  border: 1px solid #933;
  cursor: pointer;
}

.tabs a:hover {
  background: #222;
}

.tabs > a.selected {
  background: #000;
}


.tab-contents > div {
  display: none;
}
.tab-contents > div.selected {
  display: block;
}

.hidden {
  display: none;
}
