body.threads,
.Pe {
	font-family: verdana,helvetica;
	/*font-weight: bold;*/
	font-size: 12px;
	padding: 44;
	background: #333;
	color: white;
}
.Peb {
	color: #f33;
}
.Pe a {
	text-decoration: none;
	color: #f33;
	background: black;
}
.Peb a {
	padding: 4;
	border: 1px solid #f33;
}
.Pe form input,select,textarea {
	background: black;
	color: #f33;
	font-size: 9;
	border: 1px solid #f33;
	padding: 4;
}
.Peup { 
	border: 3px dashed;
	padding: 4;
	margin-bottom: 23px;
}

.ldp {
	font-size: 9;
}
.entry,
.ldp {
	font-weight: normal;
	border: 3px dashed #333;
	background: #933;
	padding: 3;
	margin: 44;
        width: 562;
}
.entry .title,
.ldpc {
	background: #f33;
	color: black;
	font-size: 12;
        width: 555;
        padding: 3;
}
.ldp br {
        clear: both;
}       
.ldp span span {
        float: left;
        padding: 2;
        margin: 1;
}
.ldp td {
	background: black;
	padding: 7;
}
.ldpek {
	background: #966;
	width: 150;
}
.ldpev {
	background: black;
	width: 400;
}

.entry {
  margin: 22px 44px;
}

.entry .text {
  background: black;
  padding: 5px;
}

.entry .title {
  display: none;
}
.entry .title .author {}
.entry .title .subject {}

.entry .footer a,
.entry .footer a:visited {
  color: white;
  background: transparent;
}

.entry .footer a:hover,
.entry .footer a:visited:hover {
  text-decoration: underline;
}

.entry .footer .comments {
  float: right;
}
